.text,title{color: white; font-family: "Pixelify Sans", sans-serif; }

p:hover{
    text-decoration: underline;
    text-decoration-thickness: 5px
}
a:link
{
    color: bisque;
}
a:visited
{
    color: green;
}

a:hover
{
    color: rgb(173, 201, 176);
}

body{background-color: black; }
